:root{
    --icon-size: 64px;
    --bg-colour: #feeedd;
    --site-width: 640px;
    --button-bg-colour: #fa6607;
    --line-colour: #bfbfbf;
    --eye-colour:  #333;
    --link-colour: #579;
}
body {
    background-color: var(--bg-colour);
}
a {
    text-decoration: none;
    color: var(--link-colour);
}
h1 {
    text-align: center;
    text-decoration: underline;
    padding-top: 1em;
    font-size: xxx-large;
}

#save {
    background: var(--button-bg-colour);
    color: var(--bg-colour);
    padding:  1ex;
    width:   10em;
    right:    1em;
    top:      1em;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    position: fixed;
    border-radius: 1em;
    border: 2px var(--line-colour) solid;
    cursor: pointer;
    display: none;
}
.content {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(var(--site-width), 1fr));
}
.site {
    height: 71vh;
    min-height: 10em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 2em;
}
.read {
    opacity: 0.4;
}

.feedHeader {
    text-align: center;
}
.feedHeaderImg {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
    width: var(--icon-size);
}
.feedHeader h2 {
    display: inline-block;
    vertical-align: middle;
}
.feedHeader img {
    vertical-align: middle;
    height: var(--icon-size);
    max-width: var(--icon-size);
}

.feedDescription {
    font-style: italic;
    text-align: center;
}

.feedElement {
    display: flex;
}
.feedElementTitle {
    width: fit-content;
    display: flex;
    border: 1px var(--line-colour);
    border-style: none none solid none;
    padding: 1ex;
}
.feedElementTitleText {
    font-weight: bold;
}
.feedElementTitleDates {
    font-size: small;
    padding: 2px 0 0 1ex;
}

.feedElementBody {
    max-width: calc(100% - var(--icon-size) - 2ex);
}

.feedElementText {
    padding: 1ex;
    min-height: calc(var(--icon-size) - 1em);
    overflow: hidden;
    text-align: justify;
}

.feedElementText img {
    max-width: 10em !important;
    height: auto;
}

.feedElementText h1 {
    font-size: x-large;
}

.feedElementText pre {
    overflow: scroll;
}

.feedElementAuthor {
    margin: 1ex;
    text-align: center;
}
.feedElementAuthorIcon {
    border-radius: 50%;
    display: block;
    width:  var(--icon-size);
    height: var(--icon-size);
}
.feedElementAuthorName {
    width: var(--icon-size);
    font-size: small;
    overflow: hidden;
    position: relative;
    margin-top: 1ex;
}

.feedElementImg {
    min-height: var(--icon-size);
}
.feedHeaderImg  .eye {
    margin: 1ex;
}
.feedElementImg .eye {
    top: 1ex;
}

.fallbackIcon {
    line-height: var(--icon-size);
    font-weight: bold;
    font-size: x-large;
}

.eye {
    position: relative;
    margin-left: 1ex;
    cursor: pointer;
    width:  calc(var(--icon-size) * 0.66);
    height: calc(var(--icon-size) * 0.66);
    border: solid 2px var(--eye-colour);
    border-radius: 75% 15%;
    transform: rotate(45deg);
}
.eye:before {
    content: '';
    display: block;
    position: relative;
    border: solid 2px var(--eye-colour);
    border-radius: 50%;
    width:  calc(var(--icon-size) * 0.66 / 3);
    height: calc(var(--icon-size) * 0.66 / 3);
    left:   calc(var(--icon-size) * 0.66 / 3.5);
    top:    calc(var(--icon-size) * 0.66 / 3.5);
}
